<div class="d-flex align-items-start bg-light mb-3">
  <div class="col">
    <p class="ms-3 me-3">
      Welcome to the spotify Group Recommendation System
    </p>
    <p class="ms-3 me-3">
      This is the landing page that should contain some text about what we do and why you should stay here.
    </p>
    <p class="ms-3 me-3">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
      kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.
    </p>
  </div>
  <div class="col d-flex justify-content-center">
    <img src="../../assets/spotify-logo.png" alt="spotify-logo">
  </div>
</div>
